# Dependencies
node_modules/

# Build outputs
/dist/
/.cache/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Zips/Artifacts
*.zip
*.crx

# Coverage
coverage/

# Misc
*.local
.env
